<!-- We added base.html from partials -->

{% extends 'partials/base.html' %}
{% block title %}Home Page{% endblock %}

{% block content %}
<!-- If user is authenticated i.e. he is logged in and he is having the administrative rights, then perform these things Checking conditions-->
{% if user.is_authenticated and user.is_staff and user.is_superuser %}
{% include 'partials/topnav.html' %}
<!--Graphs-->
<div class="container">
    <div class="row my-5">
        <div class="col-md-6">
            <div class="bg-white">
                <img src="data:image/png;base64,{{ pie_chart }}" alt="Pie Chart">
                </div>
            </div>
            <div class="col-md-6">
                <div class="bg-white">
                    <img src="data:image/png;base64,{{ bar_graph }}" alt="Bar Chart">
                </div>
            </div>
        </div>
    </div>
    <!--End Graphs-->
{% else %}
<!-- If user is not authenticated but he is not having administrative rights then perform this -->
{% include 'dashboard/staff_index.html' %}
{% endif %}

{% endblock %}