{% extends 'partials/base.html' %}
{% block title %}Staff Page{% endblock %}

{% block content %}

{% include 'partials/topnav.html' %}

 <!--Table-->
 <div class="container">
    <div class="row my-4">
        <div class="col-md-4"></div>
        <div class="col-md-8">
            <table class="table bg-white">
                <thead class="bg-info">
                    <tr class="text-white">
                        <th scope="col">#</th>
                        <th scope="col">First</th>
                        <th scope="col">Last</th>
                        <th scope="col">Handle</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th scope="row"><a class="btn btn-info btn-sm" href="">View</a></th>
                        <td>Ratnesh</td>
                        <td>Patel</td>
                        <td>@owner</td>
                    </tr>
                    <tr>
                        <th scope="row"><a class="btn btn-info btn-sm" href="">View</a></th>
                        <td>Vivek</td>
                        <td>Kumar</td>
                        <td>@topper</td>
                    </tr>
                    <tr>
                        <th scope="row"><a class="btn btn-info btn-sm" href="">View</a></th>
                        <td>Kumaran</td>
                        <td>Kartikeyan</td>
                        <td>@Student</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

</div>

{% endblock %}